.strength {
  &__container {
    border-bottom: 1px solid var(--neutral-30);
    padding-top: 66px;
    padding-bottom: 160px;

    @include mobile {
      padding-top: 26px;
      padding-bottom: 70px;
    }
  }

  &__list {
    @include flex-align-center;

    @include tablet {
      gap: 82px;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: 0;
      text-align: center;
    }

    @include small-tablet {
      gap: 60px;
    }

    @include mobile {
      gap: 40px;
    }
  }

  &__item {
    @include tablet {
      justify-content: center;
      min-width: 325px;
    }

    @include tablet {
      min-width: 240px;
    }

    &:not(:last-child) {
      @include flex-align-center;
      gap: 72px;
      margin-right: 72px;

      @include tablet {
        margin-right: 0;
      }

      &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 99px;
        background-color: var(--neutral-40);

        @include tablet {
          display: none;
        }
      }
    }

    &-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: var(--neutral-160);
    }

    &-num {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 64px;
      line-height: 120%;
      color: var(--neutral-100);

      @include tablet {
        font-size: 58px;
      }

      @include mobile {
        font-size: 48px;
      }

      @include small-mobile {
        font-size: 42px;
      }
    }
  }

  &__list,
  &__img {
    margin-bottom: 80px;
  }

  &__list {
    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__img {
    @include tablet {
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__info {
    @include flex-justify-sb;

    @include tablet {
      gap: 20px;
      flex-direction: column;
    }

    &-title {
      font-weight: 600;
      letter-spacing: -2px;
      color: var(--neutral-100);
    }

    &-descr {
      max-width: 411px;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: #7e8492;

      @include tablet {
        max-width: 700px;
      }
    }
  }
}
