<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-icon.svg"
          width="97"
          height="30"
          alt="Airbnb icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/amazon-icon.svg"
          width="97"
          height="30"
          alt="Amazon icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/fedex-icon.svg"
          width="96"
          height="30"
          alt="FedEx icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/microsoft-icon.svg"
          width="116"
          height="26"
          alt="Microsoft icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/google-icon.svg"
          width="91"
          height="30"
          alt="Google icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/ola-icon.svg"
          width="94"
          height="32"
          alt="OLA icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/walmart-icon.svg"
          width="114"
          height="28"
          alt="Walmart icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/oyo-icon.svg"
          width="80"
          height="28"
          alt="OYO icon"
        />
      </li>
    </ul>
  </div>
</section>
