<section class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="get-started__form-text text-medium">
        You can reach us anytime
        <a
          class="get-started__form-link"
          href="mailto:hellosansbrothers@gmail.com"
          >hellosansbrothers@gmail.com</a
        >
      </p>
      <form class="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-label">
            <span class="get-started__form-label-text text-small"
              >First name</span
            >
            <input
              class="get-started__form-input get-started__form-input--small text-small"
              required
              type="text"
              placeholder="First name"
              name="First name"
            />
          </label>
          <label class="get-started__form-label text-small">
            <span class="get-started__form-label-text text-small"
              >Last name</span
            >
            <input
              class="get-started__form-input get-started__form-input--small text-small"
              type="text"
              required
              placeholder="Last name"
              name="Last name"
            />
          </label>
        </div>
        <label class="get-started__form-label text-small">
          <span class="get-started__form-label-text text-small">Email</span>
          <input
            class="get-started__form-input text-small"
            type="email"
            required
            placeholder="you@company.com"
            name="email"
          />
        </label>
        <label class="get-started__form-label text-small">
          <span class="get-started__form-label-text text-small"
            >Phone number</span
          >
          <input
            id="phone"
            required
            class="get-started__form-input text-small"
            type="tel"
            placeholder=""
            name="phone"
          />
        </label>
        <label class="get-started__form-label text-small">
          <span class="get-started__form-label-text text-small">Message</span>
          <textarea
            class="get-started__form-input get-started__form-input--textarea text-small"
            type="text"
            required
            placeholder="Leave us a message..."
            name="Message"
          ></textarea>
        </label>
        <button class="get-started__form-btn text-default button-form">
          Get Started
        </button>
      </form>
    </div>
    <img
      loading="lazy"
      class="get-started__img"
      width="987"
      height="885"
      src="./assets/image/getStarted-img.jpg"
      alt="A woman and a man high-five each other"
    />
  </div>
</section>
