:root {
  // Neutral colors
  --neutral-10: #fff;
  --neutral-20: #f5f5f5;
  --neutral-30: #ededed;
  --neutral-40: #ced1d8;
  --neutral-50: #afb3bb;
  --neutral-60: #18181d;
  --neutral-70: #606060;
  --neutral-80: #35373d;
  --neutral-90: #161a34;
  --neutral-100: #1d1e25;
  --neutral-110: #e2f8f0;
  --neutral-120: #828282;
  --neutral-130: #d9d9d9;
  --neutral-140: #000;
  --neutral-150: #e2f8f0b3;
  --neutral-160: #7e8492;

  // Logo color
  --logo-text: #101010;
  --logo-circle: #101010;

  // primary
  --main-iris: #2e8dff;
  --border-iris: #dfe0f3;
  --hover-iris: #1463ff;
  --pressed-iris: #085885;
  --focus-iris: #4e7ddb;

  // Secondary
  --main-yellow: #ffd33c;
  --surface-yellow: #fff6d8;
  --border-yellow: #fff0be;
  --hover-yellow: #d5b032;
  --pressed-yellow: #806a1e;
  --focus-yellow: #fff6d8;

  // Success
  --main-green: #50cd89;
  --surface-green: #f2fff8;
  --border-green: #c5eed8;
  --hover-green: #46b277;
  --pressed-green: #28593f;
  --focus-green: #dcf5e7;

  // Error
  --main-red: #f14141;
  --surface-red: #fff2f2;
  --border-red: #fac0c0;
  --hover-red: #d93a3a;
  --pressed-red: #802a2a;
  --focus-red: #fcd9d9;

  // Info
  --main-blue: #7239ea;
  --surface-blue: #f6f2ff;
  --border-blue: #d0bdf8;
  --hover-blue: #6633d1;
  --pressed-blue: #3f2478;
  --focus-blue: #e3d7fb;

  // container
  --container-p: 15px;
  --container-w: 1200px;

  @include small-desktop {
    --container-w: 1000px;
  }

  @include tablet {
    --container-w: 860px;
  }

  @include mobile {
    --container-w: 480px;
  }

  // transition
  --transition: 0.2s ease-in-out;

  // Overview-bg-color
  --overview-bg: #1d1e25;

  // z-index
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
}

[data-theme='dark'] {
  // Neutral colors
  --neutral-10: #1d1e25;
  --neutral-100: #fff;
  --neutral-140: #fff;
  --neutral-150: #fff;
  --neutral-160: #e2f8f0;

  // Logo color
  --logo-text: #fff;
  --logo-circle: #343542;

  // Overview-bg-color
  --overview-bg: #18181d;
}
