:root {
  // Neutral colors
  --neutral-10:#FFF;
  --neutral-20:#F5F5F5;
  --neutral-30:#EDEDED;
  --neutral-40:#CED1D8;
  --neutral-50:#AFB3BB;
  --neutral-60:#18181D;
  --neutral-70:#606060;
  --neutral-80:#35373D;
  --neutral-90:#161A34;
  --neutral-100:#1D1E25;
  --neutral-110:#E2F8F0;
  --neutral-120:#828282;

  // container
  --container-p:15px;
  --container-w:1200px;
}