:root {
  // Neutral colors
  --neutral-10: #fff;
  --neutral-20: #f5f5f5;
  --neutral-30: #ededed;
  --neutral-40: #ced1d8;
  --neutral-50: #afb3bb;
  --neutral-60: #18181d;
  --neutral-70: #606060;
  --neutral-80: #35373d;
  --neutral-90: #161a34;
  --neutral-100: #1d1e25;
  --neutral-110: #e2f8f0;
  --neutral-120: #828282;
  --neutral-130: #d9d9d9;
  --neutral-140: #000;
  --neutral-150: #e2f8f0b3;
  --neutral-160: #7e8492;

  // Logo color
  --logo-text: #101010;
  --logo-circle: #101010;

  // primary
  --primary-10: #2e8dff;
  --primary-20: #dfe0f3;
  --primary-30: #1463ff;
  --primary-40: #085885;
  --primary-50: #4e7ddb;
  --primary-60: #4b628f;

  // Secondary
  --secondary-10: #ffd33c;
  --secondary-20: #fff6d8;
  --secondary-30: #fff0be;
  --secondary-40: #d5b032;
  --secondary-50: #806a1e;
  --secondary-60: #fff6d8;

  // Success
  --success-10: #50cd89;
  --success-20: #f2fff8;
  --success-30: #c5eed8;
  --success-40: #46b277;
  --success-50: #28593f;
  --success-60: #dcf5e7;

  // Error
  --error-10: #f14141;
  --error-20: #fff2f2;
  --error-30: #fac0c0;
  --error-40: #d93a3a;
  --error-50: #802a2a;
  --error-60: #fcd9d9;

  // Info
  --info-10: #7239ea;
  --info-20: #f6f2ff;
  --info-30: #d0bdf8;
  --info-40: #6633d1;
  --info-50: #3f2478;
  --info-60: #e3d7fb;

  // container
  --container-p: 15px;
  --container-w: 1200px;

  @include small-desktop {
    --container-w: 1000px;
  }

  @include tablet {
    --container-w: 860px;
  }

  @include mobile {
    --container-w: 480px;
  }

  // transition
  --transition: 0.2s ease-in-out;

  // Overview-bg-color
  --black-bg: #1d1e25;
  
  // z-index
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
}

[data-theme='dark'] {
  // Neutral colors
  --neutral-10: #1d1e25;
  --neutral-100: #fff;
  --neutral-140: #fff;
  --neutral-150: #fff;
  
  // Logo color
  --logo-text: #fff;
  --logo-circle: #343542;
  
  // Overview-bg-color
  --black-bg: #18181d;
}
