.button {
  &-form {
    border-radius: 100px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--neutral-10);
    transition: opacity var(--transition);

    &:hover {
      opacity: 0.9;
    }

    @include mobile {
      font-size: 14px;
    }
  }
}
