<section class="inside">
  <div class="container inside__container">
    <h2 class="inside__title heading-h2">Trending news from Coca</h2>
    <p class="inside__descr text-medium">
      we have some new Service to pamper you
    </p>
    <div class="swiper inside__slider">
      <div class="inside__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide inside__article">
          <img
            loading="lazy"
            class="inside__article-img"
            width="582"
            height="332"
            src="./assets/image/inside-slide-1.jpg"
            alt="Image with laptop"
          />
          <div class="inside__article-head text-small">
            <div class="inside__article-date">
              Published in Insight
              <time datetime="2025-01-30">Jan 30, 2021</time>
            </div>
            <address class="inside__article-author">by : Albert Sans</address>
          </div>
          <h3 class="inside-article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide inside__article">
          <img
            loading="lazy"
            class="inside__article-img"
            width="582"
            height="332"
            src="./assets/image/inside-slide-2.jpg"
            alt="Image with laptop"
          />
          <div class="inside__article-head text-small">
            <div class="inside__article-date">
              Published in Insight
              <time datetime="2025-01-30">Jan 30, 2021</time>
            </div>
            <address class="inside__article-author">by : Albert Sans</address>
          </div>
          <h3 class="inside-article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
        <div class="swiper-slide inside__article">
          <img
            loading="lazy"
            class="inside__article-img"
            width="582"
            height="332"
            src="./assets/image/inside-slide-1.jpg"
            alt="Image with laptop"
          />
          <div class="inside__article-head text-small">
            <div class="inside__article-date">
              Published in Insight
              <time datetime="2025-01-30">Jan 30, 2021</time>
            </div>
            <address class="inside__article-author">by : Albert Sans</address>
          </div>
          <h3 class="inside-article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide inside__article">
          <img
            loading="lazy"
            class="inside__article-img"
            width="582"
            height="332"
            src="./assets/image/inside-slide-2.jpg"
            alt="Image with laptop"
          />
          <div class="inside__article-head text-small">
            <div class="inside__article-date">
              Published in Insight
              <time datetime="2025-01-30">Jan 30, 2021</time>
            </div>
            <address class="inside__article-author">by : Albert Sans</address>
          </div>
          <h3 class="inside-article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
