.get-started {
  padding: 76px 0 160px;

  @include mobile {
    padding: 26px 0 80px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    max-width: 1440px;

    @include small-desktop {
      max-width: calc(var(--container-w) - (var(--container-p) * 2));
    }

    @include tablet {
      padding-right: var(--container-p);
    }

    @include small-tablet {
      justify-content: center;
    }
  }

  &__form {
    @include mobile {
        @include flex-column-all-center;
    }

    &-wrapper {
      position: absolute;
      left: 5%;
      border: 1px solid var(--neutral-40);
      padding: 56px 48px;
      min-width: 608px;
      background-color: #fff;

      @include tablet {
        left: var(--container-p);
      }

      @include small-tablet {
        position: inherit;
        padding: 36px 28px;
        min-width: 300px;
      }

      @include mobile {
        border: none;
        padding: 0 30px 0 0;
        min-width: 100%;
        max-width: 380px;
      }
    }

    &-title {
      margin-bottom: 20px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -0.02em;
      color: #1d1e25;
    }

    &-text {
      margin-bottom: 48px;
      font-weight: 600;
      line-height: 30px;
      color: var(--neutral-160);
    }

    &-link {
      color: var(--primary-30);
    }

    &-top {
      @include flex-all-sb;
      gap: 12px;
      width: 100%;

      @include mobile {
        gap: 0;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-label {
      @include flex-column;
      margin-bottom: 24px;
      width: 100%;

      &-text {
        display: inline-block;
        margin-bottom: 6px;
        font-weight: 500;
        line-height: 20px;
        color: #1d1e25;
      }
    }

    &-input {
      border: 1px solid var(--neutral-30);
      border-radius: 8px;
      padding: 10px 14px;
      width: 100%;
      height: 44px;
      font-weight: 400;
      line-height: 24px;
      color: #1d1e25;

      &--small {
        width: 240px;

        @include mobile {
          width: 100%;
        }
      }

      &--textarea {
        outline: none;
        height: 134px;
        resize: none;
      }
    }

    &-btn {
      padding: 16px 32px;
      font-weight: 700;
      color: #fff;
      background: #1d1e25;
    }
  }

  &__img {
    @include small-tablet {
      display: none;
    }
  }
}
