.hero-decor {
  position: relative;

  &::before {
    top: 106px;
    left: 151px;
    width: 551px;
    height: 551px;
    background-color: #fa7515;
    filter: blur(220px);

    @include small-desktop {
      left: 180px;
      width: 351px;
      height: 351px;
    }

    @include small-tablet {
      width: 251px;
      height: 251px;
    }

    @include small-mobile {
      width: 151px;
      height: 151px;
    }
  }

  &::after {
    right: 0;
    bottom: 0;
    width: 525px;
    height: 525px;
    background: var(--neutral-150);
    filter: blur(180px);

    @include small-desktop {
      width: 251px;
      height: 251px;
    }

    @include small-tablet {
      top: 120px;
      left: 10px;
      width: 225px;
      height: 225px;
    }

    @include small-mobile {
      top: 40px;
      left: 10px;
      width: 225px;
      height: 225px;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: var(--z-index-0);
    display: inline-block;
    border-radius: 50%;
    opacity: 0.2;
  }
}
